body {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  color: black;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="button"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset (100%);
  clip: rect(0000);
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

.main-navigation-logo {
  width: 244px;
  height: 56px;
  order: 1;
  text-align: center;
  z-index: 1;
}

.main-navigation {
  width: 1200px;
  height: 56px;
  color: black;
  background-color: white;
  display: flex;
  margin: auto;
}

.first-site-nav {
  padding: 0;
  margin: 0;
  list-style: none;
  order: 0;
  width: 478px;
  height: 56px;
  display: flex;
  text-align: center;
  padding-top: 14px;
}

.first-site-nav a {
  color: black;
  display: block;
}

.info {
  padding-left: 72px;
  font-weight: bold;
}

.photo_video {
  padding-left: 147px;
  font-weight: bold;
}

.second-site-nav {
  padding: 0;
  margin: 0;
  list-style: none;
  order: 2;
  width: 478px;
  height: 56px;
  display: flex;
  text-align: center;
  padding-top: 14px;
}

.map {
  padding-left: 77px;
  font-weight: bold;
}

.hotels {
  padding-left: 163px;
  font-weight: bold;
}

.second-site-nav a {
  color: black;
  display: block;
}

.main-photo {
  padding-top: 76px;
  padding-bottom: 80px;
  align-items: center;
  background-image: url(../img/background.jpg);
  background-position: 50% 21%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  margin: auto;
  position: relative;
}

.main-photo::after {
  content: "";
  background-image: url("../img/intro-mask.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  position: absolute;
  width: 1200px;
  height: 59px;
  bottom: -3px;
}

.main-headline {
  width: 1200px;
  height: 216px;
  margin: auto;
  text-align: center;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.main-headline h3 {
  padding-top: 59px;
  margin: 0px;
  font-size: 21px;
  line-height: 26px;
}

.main-headline p {
  padding-top: 12px;
  display: block;
}

.first-main-headline {
  width: 1200px;
  height: 256px;
  display: flex;
  margin: auto;
}

.index-background {
  background-color: #81b3d2;
  text-align: center;
  color: white;
  width: 400px;
}

.index-background h3 {
  width: 122px;
  padding-top: 24px;
  font-size: 21px;
  line-height: 26px;
  word-wrap: break-word;
  line-height: 1;
  padding-left: 139px;
}

.index-background p {
  padding-top: 6px;
  line-height: 20px;
}

.third-main-headline {
  width: 1200px;
  height: 256px;
  display: flex;
  margin: auto;
}

.second-index-background {
  background-color: #81b3d2;
  text-align: center;
  color: white;
  width: 400px;
  order: 1;
}

.second-index-background h3 {
  padding-top: 23px;
  font-size: 21px;
  line-height: 24px;
}

.second-index-background p {
  padding-left: 6px;
  padding-top: 2px;
  line-height: 21px;
}

.second-index-background a {
  order: 0;
}

.main-facilities {
  text-align: center;
}

.main-facilities-items {
  margin: 0;
  padding: 0;
  background: white;
  width: 1200px;
  height: 328px;
  display: flex;
  list-style: none;
  margin: auto;
  justify-content: space-around;
}

.home {
  font-size: 21px;
  padding-top: 136px;
  padding-left: 12px;
  position: relative;

}

.second-home {
  line-height: 22px;
  padding-left: 11px;
}

.food {
  font-size: 21px;
  padding-top: 136px;
  padding-left: 13px;
  position: relative;
}

.second-food {
  line-height: 22px;
  padding-left: 14px;
}

.things {
  font-size: 21px;
  padding-top: 136px;
  position: relative;
  text-align: center;
  padding-right: 5px;
}

.second-things {
  line-height: 22px;
  text-align: center;
  padding-right: 5px;
}

.main-facilities-items .home::before {
  content: "";
  background-image: url("../css/img/icon-1.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  position: absolute;
  width: 75px;
  height: 72px;
  top: 37px;
  background-color: white;
}

.main-facilities-items .food::before {
  content: "";
  background-image: url("../css/img/icon-3.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  position: absolute;
  width: 74px;
  height: 70px;
  top: 37px;
  left: 40%;
  background-color: white;

}

.main-facilities-items .things::before {
  content: "";
  background-image: url("../css/img/icon-2.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  position: absolute;
  width: 64px;
  height: 76px;
  top: 37px;
  left: 38%;
  background-color: white;
}

.second-main-headline {
  text-align: center;
}

.second-main-facilities-items {

  background: #eeeeee;
  margin: 0;
  padding: 0;
  width: 1200px;
  height: 260px;
  display: flex;
  list-style: none;
  margin: auto;
}

.second-main-headline h3 {
  padding-top: 26px;
  font-size: 21px;
  line-height: 22px;
}

.fourth-item h3 {
  padding-left: 100px;
}

.fourth-item p {
  padding-top: 3px;
  line-height: 22px;
  padding-left: 94px;
}

.fifth-item h3 {
  padding-left: 250px;
  padding-right: 100px;
}

.fifth-item p {
  padding-top: 3px;
  line-height: 22px;
  padding-left: 150px;
}

.sixth-item h3 {
  padding-left: 122px;
}

.sixth-item p {
  padding-top: 3px;
  line-height: 22px;
  padding-left: 128px;
}


.main-search {
  width: 1200px;
  background-color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
  position: relative;
}

.first-main-search-descript h3 {
  margin: 0px;
  padding-top: 48px;
  font-size: 30px;
  line-height: 36px;
}

.first-main-search-descript p {
  margin: 0px;
  padding-top: 22px;
  line-height: 25px;
  white-space: pre-line;
}

.second-main-search-descript {
  padding-top: 48px;

}

.second-main-search-descript a {
  padding-top: 27px;
  display: block;
  width: 568px;
  height: 56px;
  margin: auto;
  font-size: 21px;
  line-height: 26px;
}

.button {
  color: #ffffff;
  text-transform: uppercase;
  background-color: #766357;
  justify-content: center;
}

.second_map {
  width: 1200px;
  height: 476px;
  align-items: center;
  background-image: url(../img/map.jpg);
  background-position: top center;
  background-repeat: no-repeat;
}

.button:hover,
.button:focus {
  background-color: #604e43;
}

.button:active {
  background-color: #503e33;
}

.main-footer {
  width: 1200px;
  height: 120px;
  color: black;
  background-color: #ffffff;
  display: flex;
  margin: auto;
  align-items: center;
}

.instagram {
  font-size: 21px;
  line-height: 26px;
  padding-left: 133px;
  padding-bottom: 7px;
  font-weight: bold;

}

.main-footer a {
  color: black;
}

.footer-social ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: flex;
  padding-left: 253px;
  padding-bottom: 3px;
}

.footer-social a {
  display: flex;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
  margin: 3px;
  align-items: center;
  justify-content: center;
}

.footer-social:hover path,
.footer-social:focus path {
  fill: white;
}

.footer-social:active path {
  fill: #88b6d1;
}

.footer-social a:hover {
  background: #81b3d2;
}

.footer-social a:focus {
  background: #669ec0;
}

.footer-social a:active {
  background: #5496bd;
}

.developer {
  display: flex;
}

.footer-copyright {
  padding-top: 10px;
  margin-left: 226px;
}

.developer-logo {
  margin-left: 7px;
  padding-top: 2px
}


.developer:hover path,
.developer:focus path {
  fill: #81b3d2;
}

.developer:active path {
  fill: #c5c3c4;
}

.site-nav-current a {
  color: #766357;
  display: block;
  padding-left: 164px;
  font-weight: bold;

}

.hotels-search {
  width: 1200px;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.hotels-nav {
  width: 1200px;
  margin: 0px;
  padding: 0px;
  list-style: none;
  margin: auto;
}

.first-hotels-nav {
  height: 150px;
  padding-left: 38px;
  list-style: none;
  display: flex;
  background: white;
  border: 1px solid #e5e5e5;
}

.first-hotels-nav .photo {
  padding-top: 29px;
  padding-left: 32px;
}

.first-hotels-nav h3 {
  margin: 0px;
  padding: 0px;
  padding-top: 26px;
  padding-left: 30px;
}

.first-hotels-nav p {
  margin: 0px;
  padding: 0px;
  display: flex;
}

.buildings {
  display: block;
  margin-left: 30px;
  padding-top: 4px;

}

.money {
  display: block;
  margin-left: 38px;
  margin-top: 4px;

}

.second-money {
  margin-left: 32px;
}

.correction a {
  display: block;

}

.button-details {
  width: 110px;
  height: 27px;
  margin-left: 30px;
  margin-top: 12px;
  text-align: center;

}

.button-book {
  width: 142px;
  height: 27px;
  margin-top: 12px;
  text-align: center;
  margin-left: 5px;
}

.hotels-nav h3 {
  font-size: 21px;
  line-height: 26px;
}

.raiting .stars {
  color: #81b3d2;
  display: block;
  font-size: 23px;
  margin-left: 543px;
  letter-spacing: 5px;
  margin-top: 24px;

}

.raiting .number {
  width: 90px;
  color: #666666;
  font-weight: normal;
  display: block;
  margin-top: 43px;
  margin-left: 538px;
}

.second-correction h3 {
  margin: 0px;
  padding: 0px;
  padding-top: 24px;
  padding-left: 30px;
}

.second-hotels-nav p {
  margin: 0px;
  padding: 0px;
  display: flex;
}

.second-buildings {
  display: block;
  margin-left: 30px;
  padding-top: 4px;

}

.second-money {
  display: block;
  margin-left: 64px;
  margin-top: 4px;

}

.third-correction h3 {
  margin: 0px;
  padding: 0px;
  padding-top: 22px;
  padding-left: 30px;
}

.third-hotels-nav p {
  margin: 0px;
  padding: 0px;
  display: flex;
}

.third-buildings {
  display: block;
  margin-left: 30px;
  padding-top: 4px;

}

.third-money {
  display: block;
  margin-left: 20px;
  margin-top: 4px;

}

.raiting .second-stars {
  color: #81b3d2;
  display: block;
  font-size: 23px;
  margin-left: 568px;
  letter-spacing: 5px;
  margin-top: 24px;

}

.raiting .third-stars {
  color: #81b3d2;
  display: block;
  font-size: 23px;
  margin-left: 592px;
  letter-spacing: 4px;
  margin-top: 23px;

}


.hotels-nav a h3 {
  color: black;
}

.hotels-nav h3:hover,
.hotels-nav h3:focus {
  color: #81b3d2;
}

.hotels-nav h3:active {
  color: #bdbbbc;
}

.button-details {
  font: inherit;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #81b3d2;
  border: none;
}

.button-details:hover,
.button-details:focus {
  background-color: #669ec0;
}

.button-details:active {
  background-color: #5496bd;
  color: #857871;
}

.button-book {
  font: inherit;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #766357;
  border: none;
}

.button-book:hover,
.button-book:focus {
  background-color: #604e43;
}

.button-book:active {
  background-color: #503e33;
  color: #857871;
}

.container {
  font-size: 14px;
  line-height: 26px;
  width: 568px;
  height: 395px;
  display: flex;
  flex-direction: column;
  background-color: white;
  position: absolute;
  top: 2168px;
  margin-left: -284px;
  left: 50%;
}

.modal-show {
  display: none;
}

.appointment {
  width: 512px;
  font-weight: bold;
  margin: 0;
  padding-left: 56px;
  padding-top: 40px;
  position: relative;
}

.first-forms {
  width: 346px;
  height: 32px;
  margin-left: 20px;
  padding-top: 6px;
  background-color: #ebebeb;
  border: 0px;
}

.second-forms {
  width: 346px;
  height: 32px;
  margin-top: 18px;
  margin-left: 16px;
  background-color: #ebebeb;
  border: 0px;
}

.second-appointment {
  display: flex;
  width: 512px;
  font-weight: bold;
  margin: 0;
  padding-top: 4px;
  padding-left: 55px;
}

.second-appointment{
  display: flex;
}


.third-forms {
  width: 32px;
  height: 32px;
  margin: -4px;
  background-color: #ebebeb;
  border: 0px;
  padding-top: 3px;
}

.fourth-forms {
  width: 32px;
  height: 32px;
  margin: -4px;
  background-color: #ebebeb;
  border: 0px;
  padding-top: 3px;
}

.plus {
  width: 38px;
  height: 36px;
  background-color: #ebebeb;
  border: 0px;
  font-weight: bold;
  font-size: 14px;
}

.minus {
  width: 38px;
  height: 36px;
  border: 0px;
  background-color: #ebebeb;
  font-weight: bold;
  font-size: 14px;
}

.appointment-children {
  margin-left: 55px;
}

.appointment-adult .minus {
  margin-left: 44px;
}

.appointment-children .minus {
  margin-left: 30px;
}

::-webkit-input-placeholder {
  color: black;
  font-weight: bold;
  padding-left: 12px;
}

.appointment input:focus {
  background-color: white;
}

.appointment input:active {
  background-color: #ebebeb;
}


.appointment-adult button {
  color: #a9a9a9;
}

.appointment-adult button:hover,
.appointment-adult button:focus {
  color: #000000;
}

.appointment-adult button:active {
  color: #81b3d2;
}

.appointment-children button {
  color: #a9a9a9;
}

.appointment-children button:hover,
.appointment-children button:focus {
  color: #000000;
}

.appointment-children button:active {
  color: #81b3d2;
}

.submit {
  width: 458px;
  height: 58px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  background-color: #81b3d2;
  margin-left: 55px;
  margin-top: 40px;
  border: 0px;
}

.submit:hover,
.submit:focus {
  background-color: #669ec0;
}

.submit:active {
  background-color: #5496bd;
  color: #88b6d1;
}

.first-calendar {
  position: absolute;
  top: 64px;
  right: 63px;
  fill: #cacaca;
}

.second-calendar {
  position: absolute;
  top: 131px;
  right: 63px;
  fill: #cacaca;
}

.first-calendar:hover path,
.first-calendar:focus path {
  fill: black;
}

.first-calendar:active path {
  fill: #81b3d2;
}

.second-calendar:hover path,
.second-calendar:focus path {
  fill: black;
}

.second-calendar:active path {
  fill: #81b3d2;
}

.hotels-search .search {
  display: flex;
  background-image: url(../css/img/filter-background.jpg);
  background-position: 50% 40%;
  background-repeat: no-repeat;
}

.search-container {
  display: flex;
  width: 1200px;
  height: 218px;
}


.filter .structure {
  padding: 0;
  margin: 0;
  padding-top: 27px;
  padding-left: 60px;
  margin-bottom: 10px;

}

.filter .structure-option {
  padding: 0;
  margin: 0;
  list-style: none;
}

.filter .structure-option .filter-option {
  padding: 0;
  margin: 0;
  padding-left: 100px;
  margin-bottom: 10px;
}

.filter-option label {
  position: relative;
  cursor: pointer;
  user-select: none;
}

.filter-input-checkbox-notchecked+label::before {
  content: "";
  position: absolute;
  width: 23px;
  height: 23px;
  left: -42px;
  top: 0;
  background-image: url("../css/img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:checked+label::after {
  content: "";
  position: absolute;
  width: 23px;
  height: 23px;
  top: 0;
  left: -42px;
  background-image: url("../css/img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}


.filter .accommodation-type {
  padding: 0;
  margin: 0;
  padding-top: 27px;
  padding-left: 90px;
  margin-bottom: 11px;
}

.filter .accommodation-option {
  padding: 0;
  margin: 0;
  list-style: none;
}

.filter .accommodation-option .filter-option {
  padding: 0;
  margin: 0;
  padding-left: 136px;
  margin-bottom: 10px;

}

.filter fieldset {
  border: none;
}

.filter legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
  color: white;
}

.filter ul {
  color: white;
  list-style: none;
  line-height: 36px;
}

.filter-input:hover+label,
.filter-input:focus+label {
  color: #ffffff;
}

.filter-input:disabled+label {
  color: #6a6a6a;
  opacity: 0.5;
}

.filter-range {
  margin: 0;
  padding: 0;
  padding-top: 26px;
  padding-left: 334px;
  width: 320px;
  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;

  height: 36px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 20px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;
  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 80px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  padding: 5px 30px;
  margin-left: 85px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;
  background: #ffffff;
}

.sorting {
  margin: 0;
  padding: 0;
  width: 1200px;
  height: 86px;
  display: flex;
}

.sorting h3 {
  font-size: 21px;
  line-height: 26px;
  padding-top: 8px;
  padding-left: 72px;
}

.sorting p {
  font-size: 12px;
  line-height: 18px;
  padding-top: 22px;
  padding-left: 46px;
}

.sorting ul {
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 18px;
  list-style: none;
  display: flex;
  padding-top: 34px;
  padding-left: 10px;
}

.sorting a {
  margin-left: 32px;
  color: #c6c6c6;
  border-bottom: 1px dotted #c6c6c6;
}


.sorting a:hover,
.sorting a:focus {
  color: #81b3d2;
}

.sorting a:active {
  color: black;
}

.sorting-item-one a {
  color: #81b3d2;
  border-bottom: 1px dotted #81b3d2;
}

.sorting-menu {
  display: flex;
}

.arrows ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.arrows a {
  display: block;
}

.arrows-one a {
  margin-top: 30px;
  margin-right: 12px;
}

.arrows-one a path {
  fill: #cacaca;
}

.arrows .arrows-two {
  margin-top: 30px;
  margin-right: 73px;
}

.arrows a:hover path,
.arrows a:focus path {
  fill: black;
}

.arrows a:active path {
  fill: #81b3d2;
}
