body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans Regular", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: black;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active){
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset (100%);
  clip: rect(0000);
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

.main-navigation-logo {
  width: 244px;
  height: 56px;
  order: 1;
  text-align: center;
  z-index: 1;
}

.main-navigation {
  width: 1200px;
  height: 56px;
  color: black;
  background-color: white;
  display: flex; 
  margin: auto;
}

.first-site-nav {
  padding: 0;
  margin: 0;
  list-style: none;
  order: 0;
  width: 478px;
  height: 56px;
  display: flex;
  text-align: center;
  padding-top: 11px;
}

.first-site-nav a {
  color: black;
}

.info {
  width: 239px;
  height: 56px;
}

.photo_video {
  width: 239px;
  height: 56px;
}

.second-site-nav {
  padding: 0;
  margin: 0;
  list-style: none;
  order: 2;
  width: 478px;
  height: 56px;
  display: flex;
  text-align: center;
  padding-top: 11px;
}

.map{
  width: 239px;
  height: 56px;
}
.hotels {
  width: 239px;
  height: 56px;
}
.second-site-nav a {
  color: black;
}

.main-photo {
  padding-top: 76px;
  padding-bottom: 80px;
  align-items: center;
  background-image: url(../img/background.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  margin: auto;
  position: relative;
}

.main-photo::after {
  content: "";
  background-image: url("../img/intro-mask.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  position: absolute;
  width: 1200px;
  height: 59px;
  bottom: -3px;
}

.main-headline {
  width: 1200px;
  margin: auto;
  text-align: center;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.main-headline h3 {
  padding-top: 61px;
  padding-bottom: 38px;
  margin: 0px;
  font-size: 21px;
  line-height: 26px;
}

.main-headline p {
  padding-bottom: 56px;
}

.first-main-headline {
  width: 1200px;
  display: flex;
  margin: auto;
}

.index-background {
  background-color: #81b3d2;
  text-align: center;
  color: white;
  width: 400px;
  height: 256px;
}

.index-background h3 {
  padding-top: 23px;
  font-size: 21px;
  line-height: 26px;
}


.third-main-headline {
  width: 1200px;
  display: flex;
  margin: auto;
}

.second-index-background {
  background-color: #81b3d2;
  text-align: center;
  color: white;
  width: 400px;
  height: 256px;
  order: 1;
}

.second-index-background h3 {
  padding-top: 23px;
  font-size: 21px;
  line-height: 26px;
}

.second-index-background a {
  order: 0;
}

.main-facilities {
  text-align: center;
}

.main-facilities-items {
  margin: 0;
  padding: 0;
  background: #ffffff;
  width: 1200px;
  display: flex;
  list-style: none;
  margin: auto;
  justify-content: space-around;
}

.main-facilities-items h3 {

  padding-top: 160px;
  position: relative;
}

.main-facilities-items p {
  padding-bottom: 85px;

}

.main-facilities-items .home::before {
  content: "";
  background-image: url("../css/img/icon-1.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  position: absolute;
  width: 75px;
  height: 72px;
  top: 29px;
  background-color: white;
}

.main-facilities-items .food::before {
  content: "";
  background-image: url("../css/img/icon-3.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  position: absolute;
  width: 74px;
  height: 70px;
  top: 29px;
  left: 40%;
  background-color: white;

}
.main-facilities-items .things::before {
  content: "";
  background-image: url("../css/img/icon-2.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  position: absolute;
  width: 64px;
  height: 76px;
  top: 29px;
  left: 40%;
  background-color: white;
}

.second-main-headline {
  text-align: center;
}

.second-main-facilities-items{
  background: #eeeeee;
  width: 1160px;
  display: flex;
  list-style: none;
  margin: auto;
  align-items: center;
  justify-content: space-around;

}

.second-main-facilities-items h3 {
  font-size: 21px;
  line-height: 26px;
  padding-top: 50px;
}

.second-main-headline h3 {
  font-size: 21px;
  line-height: 26px;
  text-align: center;
}

.second-main-headline p {
  padding-bottom: 63px;
}

.main-search {
  width:1200px;
  background-color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
}

.first-main-search-descript h3{
  padding-top: 57px;
  font-size: 30px;
  line-height: 36px;
}
.first-main-search-descript p{
  padding-bottom: 52px;
}

.second-main-search-descript a{
  display: block;
  width: 568px;
  margin:auto;
  font-size: 21px;
  line-height: 26px;
}

.button {
  color: #ffffff;
  text-transform: uppercase;
  background-color: #766357;
  padding-top: 35px;
  padding-bottom: 33px;
}
.second_map {
  width: 1200px;
  height: 478px;
  align-items: center;
  background-image: url(../img/map.jpg);
  background-position: top center;
  background-repeat: no-repeat;
}

.button:hover,
.button:focus {
  background-color: #604e43;
}

.button:active {
  background-color: #503e33;
}

.main-footer {
  width:1200px;
  height: 120px;;
  color: black;
  background-color: #ffffff;
  display: flex;
  margin: auto;
  align-items: center;
}

.instagram {
  font-size: 21px;
  line-height: 26px;
  padding-left: 132px;

}

.main-footer a {
  color: black;
}

.footer-social ul{
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: flex;
  padding-left: 256px;
}

.footer-social a{
  display: flex;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
  margin: 6px;
  align-items: center;
  justify-content: center;
}

.footer-social:hover path,
.footer-social:focus path {
  fill: white;
}

.footer-social:active path {
  fill: #88b6d1;
}
.footer-social a:hover {
  background:#81b3d2;
}

.footer-social a:focus {
  background:#669ec0;
}

.footer-social a:active {
  background: #5496bd;
}

.developer {
  display: flex;
  padding-left: 228px;
}

.footer-copyright{
  padding-right: 8px;
  padding-top: 8px;
}


.developer:hover path,
.developer:focus path {
  fill: #81b3d2;
}

.developer:active path {
  fill: #c5c3c4;
}

.site-nav-current a {
  color: #766357;
  display: block;
  padding-left: 74px;
}

.hotels-search  {
  display: flex;
  width:1200px;
  flex-direction: column;
  margin: auto;
}
.hotels-nav {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.first-hotels-nav {
  margin: 0px;
  padding: 0px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 72px;
  list-style: none;
  display: flex;
  background: white;
  border: 1px solid #e5e5e5;
}

.first-hotels-nav h3{
  margin: 0px;
  padding: 0px;
}
.first-hotels-nav p {
  margin: 0px;
  padding: 0px;
  display: flex;
  
}

.correction span {
  display: block;
}

.money {
  margin-left: 39px;
}

.second-money {
  margin-left: 64px;
}

.third-money {
  margin-left: 21px;
}

.correction {
  padding-left: 30px;
}

.correction a {
  display: block;
}

.button-details {
  width: 110px;
  height: 27px;
  text-align: center;
  margin-top: 10px;
}

.button-book {
  width: 142px;
  height: 27px;
  text-align: center;
  margin-left: 6px;
  margin-top: 10px;
}

.hotels-nav h3 {
  font-size: 21px;
  line-height: 26px;
}
.raiting {
  padding-left: 543px;
}

.raiting .stars {
  color: #81b3d2;
  text-align: end;
  display: block;
}

.raiting .number {
  color: #666666;
  font-weight: normal;
  background: #f2f2f2;
  width: 110px;
  height: 27px;
  margin-top: 47px;
  align-items: center;
  text-align: center;
  display: block;
}

.hotels-nav a h3 {
  color: black;
}

.hotels-nav h3:hover,
.hotels-nav h3:focus {
  color: #81b3d2;
}

.hotels-nav h3:active {
  color: #bdbbbc;
}

.button-details {
  font: inherit;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #81b3d2;
  border: none;
}

.button-details:hover,
.button-details:focus {
  background-color: #669ec0;
}

.button-details:active {
  background-color: #5496bd;
  color: #857871;
}

.button-book {
  font: inherit;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #766357;
  border: none;
}

.button-book:hover,
.button-book:focus {
  background-color: #604e43;
}

.button-book:active {
  background-color: #503e33;
  color: #857871;
}

.container{
  background-color: white;
  width: 568px;
  height: 395px;
}
.appointment input:hover,
.appointment input:focus {
  background-color: #f2f2f2;
}

.appointment input:active {
  background-color: #ebebeb;
}

.appointment-adult button{
  color: #a9a9a9;
}

.appointment-adult button:hover,
.appointment-adult button:focus {
  color: #000000;
}
.appointment-adult button:active {
  color: #81b3d2;
}

.appointment-children button{
  color: #a9a9a9;
}

.appointment-children button:hover,
.appointment-children button:focus {
  color: #000000;
}
.appointment-children button:active {
  color: #81b3d2;
}

.submit {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  background-color:  #81b3d2;
}
.submit:hover,
.submit:focus {
  background-color: #669ec0;
}
.submit:active {
  background-color: #5496bd;
  color: #88b6d1;
}
